p{
    background-color: red;
}
a{
    background-color: yellow;
}
div{
    background-color: rgb(133, 133, 133);
}
span{
    background-color: lightblue;
}
nav{
    background-color: rgb(170, 170, 170);
}