p{
    background-color: red;
}
a{
    background-color: rgb(255, 228, 26);
}
div{
    background-color: rgb(255, 255, 255);
}
span{
    background-color: lightblue;
}
nav{
    background-color: rgb(255, 255, 255);
}